<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <div class="boton">
        <ion-button fill="outline" (click)="irPagina()">Perfil</ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">main</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content>
  <p>{{usuario.nombre}} xd</p>
  <p> ALO</p>
</ion-content>
