<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" id="main">
  
  
<div class="fondo">
  <div>
    <img alt="" src="assets/img/1.png">
  </div>

  <div>
    <div id="container">
      <ion-button color="success" [routerLink] = "['/login']">Iniciar Sesion</ion-button> <br>
      <ion-button color="light" [routerLink] = "['/registro']">Registrarse</ion-button>
    </div>
  </div>  

</div>

</ion-content>
